In [34]:
import pandas as pd
from sqlalchemy import create_engine

In [36]:
# 用create_engine建立连接，格式:数据库格式（mysql）+程序名（pymysql）+账号密码@地址端口/数据库名+指定编码为utf8
engine = create_engine('mysql+pymysql://root:lmx1994.ROOT@127.0.0.1:3306/law_site')
raw_data = pd.read_sql('all_gzdata',engine,chunksize=10000)

## 网页类型分析

In [37]:
counts = [i['fullURLId'].value_counts() for i in raw_data]
counts1 = pd.concat(counts).groupby(level=0).sum()

counts1

101001       5603
101002       7776
101003     396612
101004        125
101005         63
101006        107
101007        147
101008        378
101009        854
102001       2129
102002      12021
102003       1235
102004        361
102005        271
102006        184
102007        538
102008        404
102009        214
103002        189
103003       1526
106001       3957
107001     182900
1999001    201426
301001      18430
Name: fullURLId, dtype: int64

In [38]:
counts1 = counts1.reset_index()
counts1.columns = ['index','num']
# index的前三个数字作为类别id
counts1['type'] = counts1['index'].str.extract('(\d{3})')
counts1.head(10)

    index     num type
0  101001    5603  101
1  101002    7776  101
2  101003  396612  101
3  101004     125  101
4  101005      63  101
5  101006     107  101
6  101007     147  101
7  101008     378  101
8  101009     854  101
9  102001    2129  102

In [39]:
counts1_ = counts1[['type','num']].groupby('type').sum().reset_index()
counts1_['percentage'] = (counts1_['num']/counts1_['num'].sum())*100
counts1_.sort_values('percentage',ascending=False,inplace=True)
counts1_

  type     num  percentage
0  101  411665   49.156965
5  199  201426   24.052302
4  107  182900   21.840110
6  301   18430    2.200728
1  102   17357    2.072601
3  106    3957    0.472506
2  103    1715    0.204788

In [40]:
# 对101（咨询类别）统计
counts1_1 = counts1[counts1['type']=='101'][['index','num']].groupby('index').sum().reset_index()
counts1_1['percentage'] = (counts1_1['num']/counts1_1['num'].sum())*100
counts1_1.sort_values('percentage',ascending=False,inplace=True)
counts1_1.head()

    index     num  percentage
2  101003  396612   96.343386
1  101002    7776    1.888915
0  101001    5603    1.361058
8  101009     854    0.207450
7  101008     378    0.091822

In [41]:
# 对107（知识相关）统计
def count107(i):
    # 找出类别包含107的网址
    j = i[['fullURL']][i['fullURLId'].str.contains('107')].copy() 
    # 添加空列
    j['type'] = None 
    j['type'][j['fullURL'].str.contains('info/.+?/')]= u'知识首页'
    j['type'][j['fullURL'].str.contains('info/.+?/.+?')]= u'知识列表页'
    j['type'][j['fullURL'].str.contains('/\d+?_*\d+?\.html')]= u'知识内容页'
    return j['type'].value_counts()

raw_data = pd.read_sql('all_gzdata',engine,chunksize=10000)
counts1_2 = [count107(i) for i in raw_data]
counts1_2 = pd.concat(counts1_2).groupby(level=0).sum()
counts1_2

知识内容页    164243
知识列表页      9656
知识首页       9001
Name: type, dtype: int64

In [42]:
counts1_2_ = counts1_2.reset_index()
counts1_2_.columns = ['index','num']
counts1_2_['percentage'] = (counts1_2_['num']/counts1_2_['num'].sum())*100
counts1_2_.sort_values('percentage',ascending=False,inplace=True)
counts1_2_

   index     num  percentage
0  知识内容页  164243   89.799344
1  知识列表页    9656    5.279388
2   知识首页    9001    4.921268

In [43]:
# 统计带？的网址
def count_question(i):
    j = i[['fullURLId']][i['fullURL'].str.contains('\?')].copy() 
    return j['fullURLId'].value_counts()

raw_data = pd.read_sql('all_gzdata',engine,chunksize=10000)
counts1_3 = [count_question(i) for i in raw_data]
counts1_3 = pd.concat(counts1_3).groupby(level=0).sum().reset_index()
counts1_3.columns = ['index','num']
counts1_3['percentage'] = (counts1_3['num']/counts1_3['num'].sum())*100
counts1_3.sort_values('percentage',ascending=False,inplace=True)

counts1_3

     index    num  percentage
3  1999001  64718   98.818176
4   301001    356    0.543578
2   107001    346    0.528309
0   101003     47    0.071764
1   102002     25    0.038173

In [44]:
def count_199(i):
    j = i[(i['fullURL'].str.contains('\?')) & (i['fullURLId'].str.contains('199'))][['pageTitle']].copy() 
    j['pageTitle'].fillna('空',inplace=True)
    # 添加空列
    j['type'] = '其他' 
    
    j['type'][j['pageTitle'].str.contains('法律快车-律师助手')] = '法律快车-律师助手'
    j['type'][j['pageTitle'].str.contains('咨询发布成功')] = '咨询发布成功'
    j['type'][j['pageTitle'].str.contains('免费发布法律咨询' )] = '免费发布法律咨询'
    j['type'][j['pageTitle'].str.contains('法律快搜')] = '快搜'
    j['type'][j['pageTitle'].str.contains('法律快车法律经验')] = '法律快车法律经验'
    j['type'][j['pageTitle'].str.contains('法律快车法律咨询')] = '法律快车法律咨询'
    j['type'][(j['pageTitle'].str.contains('_法律快车')) | (j['pageTitle'].str.contains('-法律快车'))] = '法律快车'
    j['type'][j['pageTitle'].str.contains('空')] = '空'
    
    return j['type'].value_counts()

raw_data = pd.read_sql('all_gzdata',engine,chunksize=10000)   
counts1_4 = [count_199(i) for i in raw_data]
counts1_4 = pd.concat(counts1_4).groupby(level=0).sum().reset_index()
counts1_4.columns = ['type','num']
counts1_4['percentage'] = (counts1_4['num']/counts1_4['num'].sum())*100
counts1_4.sort_values('percentage',ascending=False,inplace=True)

counts1_4

        type    num  percentage
4  法律快车-律师助手  49894   77.094471
5   法律快车法律咨询   6421    9.921506
1     咨询发布成功   5220    8.065762
2         快搜   1943    3.002256
3       法律快车    818    1.263945
0         其他    359    0.554714
6   法律快车法律经验     59    0.091165
7          空      4    0.006181

In [45]:
# 定义瞎逛行为，进行统计
def count_xiaguang(i):
    i['type'] = i['fullURLId'].str.extract('(\d{3})')
    j = i[i['fullURL'].str.contains('\.html')==False][['type']].copy() 
    
    return j['type'].value_counts()

raw_data = pd.read_sql('all_gzdata',engine,chunksize=10000)
counts1_5 = [count_xiaguang(i) for i in raw_data]
counts1_5 = pd.concat(counts1_5).groupby(level=0).sum().reset_index()
counts1_5.columns = ['type','num']
counts1_5.sort_values('num',ascending=False,inplace=True)

counts1_5

  type     num
4  199  117124
3  107   17843
1  102   17357
0  101    7130
2  106    3957
5  301    1018

In [46]:
del counts,counts1,counts1_,counts1_2,counts1_2_,counts1_3,counts1_4,counts1_5

## 点击次数分析

In [53]:
# 统计各个IP的出现次数
raw_data = pd.read_sql('all_gzdata',engine,chunksize=10000)

counts2 = [i['realIP'].value_counts() for i in raw_data]
counts2 = pd.concat(counts2).groupby(level=0).sum().reset_index()
counts2.columns = ['realIP','num']
counts2['num'] = counts2['num'].apply(lambda x:'七次以上'if x>7 else x)
counts2

            realIP   num
0            82033     2
1            95502     1
2           103182     1
3           116010     2
4           136206     1
5           140151     1
6           155761     1
7           159601     2
8           159758     1
9           213105     1
10          226318     2
11          235278     2
12          235790     2
13          270457     1
14          287601     2
15          358926     1
16          395385     2
17          418673     2
18          424206     3
19          430862     2
20          484209     1
21          496398     1
22          503676     1
23          540785     1
24          546996     1
25          606321     2
26          611448  七次以上
27          614513     1
28          620302     1
29          629518     1
...            ...   ...
230119  4294016014     2
230120  4294029180  七次以上
230121  4294054926     1
230122  4294060347     2
230123  4294086926     1
230124  4294116791     1
230125  4294186868     1
230126  4294205040     4
230127  4294247863     3
230128  4294284558     7
230129  4294341134     1
230130  4294378935     3
230131  4294444471     2
230132  4294458682     3
230133  4294481678     1
230134  4294510007     3
230135  4294510713  七次以上
230136  4294525553     1
230137  4294549006     1
230138  4294721082     3
230139  4294721905     1
230140  4294737166     1
230141  4294786618     4
230142  4294804343     1
230143  4294807822     1
230144  4294809358     2
230145  4294811150     1
230146  4294852154     3
230147  4294865422     2
230148  4294917690     1

[230149 rows x 2 columns]

In [54]:
counts2 = counts2.groupby(['num']).count().reset_index()
counts2.columns = ['click_times','user_nums']
counts2['user_pct'] = (counts2['user_nums']/counts2['user_nums'].sum())*100

counts2

  click_times  user_nums   user_pct
0           1     132119  57.405854
1           2      44175  19.194087
2           3      17573   7.635488
3           4      10156   4.412793
4           5       5952   2.586151
5           6       4132   1.795359
6           7       2632   1.143607
7        七次以上      13410   5.826660

In [58]:
# 浏览七次以上的用户分析
raw_data = pd.read_sql('all_gzdata',engine,chunksize=10000)

counts2_1 = [i['realIP'].value_counts() for i in raw_data]
counts2_1 = pd.concat(counts2_1).groupby(level=0).sum().reset_index()
counts2_1.columns = ['realIP','num']
counts2_1 = counts2_1[counts2_1['num']>7]

def divide_user_click(row):
    if row >1000:
        return '1000以上'
    elif row < 100:
        return '8-100'
    else:
        return '101-1000'
    
counts2_1['num'] = counts2_1['num'].apply(divide_user_click)

counts2_1 = counts2_1.groupby(['num']).count().reset_index()
counts2_1.columns = ['7_click_times','7_user_nums']
counts2_1

  7_click_times  7_user_nums
0        1000以上           19
1      101-1000          446
2         8-100        12945

In [63]:
# 浏览一次的用户行为分析
raw_data = pd.read_sql('all_gzdata',engine,chunksize=10000)

counts2_1 = [i[['realIP','fullURLId','fullURL']] for i in raw_data]
counts2_1 = pd.concat(counts2_1)

counts2_2 = counts2_1.groupby('realIP')['fullURLId'].count().reset_index()
counts2_2.columns = ['realIP','click_times']
counts2_1 = counts2_1.merge(counts2_2,on='realIP',how='outer')

counts2_1 = counts2_1[counts2_1['click_times']==1]
counts2_3 = counts2_1.groupby('fullURLId')['click_times'].sum().reset_index()
counts2_3 = counts2_3.sort_values('click_times',ascending=False)
counts2_3['percentage'] = (counts2_3['click_times']/counts2_3['click_times'].sum())*100
counts2_3.head()

In [86]:
# 点击一次用户浏览网页统计
counts2_4 = counts2_1.groupby('fullURL')['click_times'].sum().reset_index()
counts2_4 = counts2_4.sort_values('click_times',ascending=False)
print(counts2_4.head(10))

                                                 fullURL  click_times
85689  http://www.lawtime.cn/info/shuifa/slb/20121119...         1013
81284  http://www.lawtime.cn/info/hunyin/lhlawlhxy/20...          501
69210     http://www.lawtime.cn/ask/question_925675.html          423
85691  http://www.lawtime.cn/info/shuifa/slb/20121119...          367
796             http://www.lawtime.cn/ask/exp/13655.html          301
1578             http://www.lawtime.cn/ask/exp/8495.html          241
761             http://www.lawtime.cn/ask/exp/13445.html          199
76643                    http://www.lawtime.cn/guangzhou          177
1250            http://www.lawtime.cn/ask/exp/17357.html          171
76377                 http://www.lawtime.cn/citylist.php          117

In [87]:
del counts1_1,counts2,counts2_1,counts2_2,counts2_3,counts2_4

## 网页排名

In [89]:
# 网页点击率排名
raw_data = pd.read_sql('all_gzdata',engine,chunksize=10000)

counts3_1 = [i[['realIP','fullURL']][i['fullURL'].str.contains('\.html')] for i in raw_data]
counts3_1 = pd.concat(counts3_1)

counts3_2 = counts3_1.groupby('fullURL')['realIP'].count().reset_index()
counts3_2.columns = ['fullURL','click_times']
counts3_2 = counts3_2.sort_values('click_times',ascending=False)

counts3_2.head()

                                                  fullURL  click_times
238371              http://www.lawtime.cn/faguizt/23.html         6503
260061  http://www.lawtime.cn/info/hunyin/lhlawlhxy/20...         4938
238486               http://www.lawtime.cn/faguizt/9.html         4562
281373  http://www.lawtime.cn/info/shuifa/slb/20121119...         4495
238298              http://www.lawtime.cn/faguizt/11.html         3976

In [ ]:
# 翻页网页进行统计
# 检查网页url主体是否相同即可，如果主体相同，则归为一个url